.textarea_block {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10px 20px;

  border-bottom: var(--border-default);
  box-sizing: border-box;
}

.user_avatar img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: var(--max-border-radius);
}

.form {
  flex: 1 0 300px;
  margin: 0;
}

.textarea_block textarea {
  width: 100%;
  min-width: 100%;
  max-width: 550px;

  height: 70px;
  min-height: 70px;
  max-height: 600px;
  padding: 10px 10px 10px;

  resize: none!important;

  font-size: 17px;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
}

.textarea_block textarea:focus {
  outline: none;
}


.textarea_block textarea::placeholder {
  font-size: 19px;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-secondary-gray);
}

.form_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 10px;
  padding: 12px 0 0;
  border-top: var(--border-default);
}

.btn_group {
  flex: 1;
}

.btn_group button {
  margin: 0;
  padding: 6px;

  font-size: 22px;
  line-height: 0!important;

  color: var(--text-primary-blue);
  background-color: transparent;
  border: none;
  border-radius: var(--max-border-radius);
  transition: var(--transition-middle);
}

.btn_group button:not(:last-child) {
  margin-right: 10px;
}

.btn_group button:hover {
  background-color: var(--hover-blue);
}

.progressBar {
  display: flex;
  align-items: center;
  user-select: none;
}

.progressBar .circle {
  margin: 0 10px;
}

.progressBar span {
  font-size: 14px;
  color:rgb(129, 129, 129);
}

.progressBar .warning {
  color: red;
}

.btn_send {
  padding: 9px 16px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: var(--text-primary-blue);
  border: none;
  border-radius: var(--max-border-radius);
}

.btn_send:disabled {
background-color: #68b9f0;
pointer-events: none;
}

.btn_send:hover {
  background-color: var(--text-primary-darkblue);

}