.navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  flex: 1 0 30%;
  max-width: 260px;
  height: 100vh;
  min-height: 0%;

  font-size: 20px;
  overflow-y: scroll;
  user-select: none;
  position: sticky;
  top: 0;
}

.navbar_wrapper {
  flex: 1 0 30%;
  max-width: 260px;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: var(--max-border-radius);
  transition: var(--transition-default);
}

.logo img {
  width: 30px;
  height: auto;
}

.main_nav {
  margin-top: 10px;
}

.main_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_nav li:not(:last-child) {
  margin-bottom: 1.2vh;
}

.main_nav li svg {
  margin-right: 20px;

  width: 26px;
}

.main_nav li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--main-text-color);
}

.main_nav li span {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  padding: 12px 28px 12px 12px;
  border-radius: var(--max-border-radius);
  transition: background 0.1s ease-in-out 0.03s;
}

.active span {
  font-weight: bold;
}

.logo:hover {
  background-color: rgb(225, 236, 247);
}

.main_nav li:hover span {
  background-color: rgb(233, 233, 233);
}

.btn_tweet {
  width: 85%;
  padding: 16px;
  margin-top: 2vh;

  font-size: 17px;
  font-weight: bold;
  color: #fff;

  background-color: var(--text-primary-blue);
  border-radius: var(--max-border-radius);
  border: none;
  box-sizing: border-box;
  transition: var(--transition-middle);
}

.btn_tweet:hover {
  background-color: var(--text-primary-darkblue);

}