:root {
--max-border-radius: 55555px;

--main-text-color: #000;
--text-primary-black:rgb(15, 15, 15);
--text-primary-gray: #3f3f3f;
--text-primary-gray_2:rgb(83, 100, 113);
--text-primary-blue: #1D9BF0;
--text-primary-darkblue: #298ed1;

--main-blue: rgb(49, 185, 209);
--main-gray-color: #eff3f4;
--border-default: 1px solid rgb(238, 238, 238);

--hover-blue: #E2EEF6;

--transition-default: 0.2s ease-in-out 0.02s;
--transition-middle: 0.15s ease;
--transition-fast: 0.2s ease;
}

html {
  overflow: auto scroll;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content_wrapper {
  width: 1240px;
  margin: 0 auto;
}


button {
  cursor: pointer;
}

.sign-in {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 480px;
}

.sign-in__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex: 1 1 50%;
  height: 100vh;
  min-height: 480px;
}

.sign-in__block-1 {
  background-color: rgb(105, 153, 243);
}

/* Home styles */
.home_content {
  display: flex;
  max-width: 100vw;
  min-width: 320px;
  min-height: 480px;
}

.home_group {
  width: 70vw;
  display: flex;
  flex: 1 0 970px;
}

/* Home styles end */

/* Feed */

.feed_block {
  flex: 0 2 600px;
  max-width: 600px;
  border-left: var(--border-default);
  border-right: var(--border-default);
}

/* Feed end */